* {
  font-family: 'Roboto',sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* align-items:center; */
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu__item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu__item:last-child {
  border-right: none;
}

.menu__link {
  color: #ffff;
  font-size: 15px;
  font-weight: 300;
}

.menu__link:hover {
  text-decoration: none;
  color: #999999;
}

.container {
  width: 100%;
}

.subheader {
  height: 84px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.subheader__logo {
  display: block;
  min-width: 100%;
  margin-top: 16px;
}

.subheader__official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader__call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader__phone {
  display: block;
  text-align: right;
  font-size: 22px;
  font-weight: 400;
  margin-top: 8px;
  color: #ffffff;
  font-weight: 300;
  line-height: 15px;
  text-decoration: none;
}

.subheader__phone:hover {
  text-decoration: none;
  color: #999999;
}

.subheader__btn {
  margin-top: 19px;
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  width: 172px;
  height: 46px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader__btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  padding: 150px 0 135px 0;
  min-height: 800px;
  background: url("../../assets/img/header/Backgrcar.png") center/cover no-repeat;
}

.promo__header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo__subheader {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
}

.promo__description {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
}

.promo_btn {
  margin-top: 19px;
  display: block;
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  width: 259px;
  height: 63px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 118px auto 0 auto;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reasons {
  padding: 71px 0 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.reasons__descr {
  padding-left: 26px;
}

.reasons__subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons__text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.reasons .reasons__block .reasons__descr .reasons__subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

.adv_block {
  margin-top: 32px;
}

.advantages {
  padding-top: 42px;
  background-image: url("../../assets/img/bg.png");
  padding-bottom: 80px;
}

.label_choice {
  text-align: center;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title_choice {
  margin-top: 32px;
  font-size: 37px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
}

.content {
  min-height: 499px;
  padding-top: 57px;
  background-color: #000000;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subtitle_choice {
  margin-top: 19px;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}

.choice_img img {
  position: absolute;
  top: 231px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.choice {
  position: relative;
}

.every__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 397px;
  background-image: url("../../assets/img/bg.png");
}

.every__day-text span {
  display: block;
  text-align: center;
  color: #222222;
}

.title {
  margin-top: 33px;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.terms {
  padding-top: 68px;
  padding-bottom: 84px;
}

.terms__title {
  color: #1ca8c3;
  font-size: 22px;
  margin-top: 33px;
}

.terms__list {
  list-style-type: none;
  padding-left: 50px;
  font-size: 17px;
  color: #222222;
  line-height: 24px;
  margin-top: 22px;
}

.terms__list li {
  position: relative;
  margin-bottom: 10px;
}

.terms__list li:before {
  content: '';
  position: absolute;
  left: -32px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../../assets/icons/terms/terms-blue.png") center center/cover no-repeat;
}

.terms__subtitle {
  color: #1ca8c3;
  font-size: 22px;
}

.terms__title-red {
  color: red;
  margin: 62px 0 0 0;
  font-size: 22px;
}

.terms__list-red {
  list-style-type: none;
  padding-left: 50px;
  font-size: 17px;
  color: #222222;
  line-height: 24px;
  margin-top: 22px;
}

.terms__list-red li {
  position: relative;
  margin-bottom: 10px;
}

.terms__list-red li:before {
  content: '';
  position: absolute;
  left: -32px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../../assets/icons/terms/terms-red.png") center center/cover no-repeat;
}

.world {
  height: 717px;
  background: url("../../assets/img/world/world.png") center center/cover no-repeat;
}

.world__title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.world__subtitle {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: #ffffff;
}

.world__label {
  margin-top: 49px;
  text-align: center;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.world__container {
  position: relative;
  height: 717px;
  max-width: 1440px;
  padding: 49px 0 49px 0;
  margin: auto;
}

.cities {
  position: absolute;
  bottom: 49px;
  left: 624px;
  font-size: 15px;
  text-transform: uppercase;
}

.cities a {
  color: #1fbad6;
  text-decoration: none;
}

.cities a:hover {
  color: #fff;
}

.footer {
  padding-top: 14px;
}

.footer__container {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__divider {
  margin-top: 14px;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: auto;
}

.footer .links__main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 390px;
  font-size: 15px;
  font-weight: 300;
}

.footer .links__main a {
  color: #070716;
  text-transform: uppercase;
}

.footer .links__main a:hover {
  text-decoration: none;
}

.footer .links__sub {
  margin: auto;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 400px;
  font-size: 11px;
}

.footer .links__sub a {
  color: #999999;
  text-decoration: none;
  text-transform: uppercase;
}

.footer .links__lang {
  text-align: center;
  margin-top: 19px;
}

.footer .links__lang a {
  color: #1fbad6;
  font-size: 11px;
  text-transform: uppercase;
}

.footer .links__lang a:hover {
  text-decoration: none;
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 156px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  background-color: #070716;
  border-radius: 100%;
  color: #fff;
}

.social__item:hover {
  text-decoration: none;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
}

.footer_mobile {
  padding-right: 27px;
}

.footer_mobile a:hover {
  text-decoration: none;
}

.xs-visible {
  display: none;
}

@media (max-width: 1199px) {
  .menu__item {
    padding-right: 20px;
  }
  .menu__link {
    font-size: 13px;
  }
  .promo__header {
    font-size: 50px;
  }
  .reasons__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons__round {
    margin-right: 0;
  }
  .reasons__descr {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .menu__item {
    padding-right: 8px;
  }
  .menu__link {
    font-size: 10px;
  }
  .subheader__logo img {
    width: 100%;
  }
  .subheader__official {
    font-size: 11px;
  }
  .subheader__phone {
    font-size: 18px;
  }
  .subheader__btn {
    width: 100%;
    height: 40px;
    margin-top: 20px;
  }
  .promo__header {
    font-size: 40px;
  }
  __subheader {
    font-size: 30px;
  }
  .reasons__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons__descr {
    margin-top: 20px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .menu-active {
    left: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .menu__item {
    margin-bottom: 15px;
    padding-right: 0;
    border: none;
  }
  .menu__link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    -webkit-transition: .5s all;
    transition: .5s all;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 2px;
  }
  .hamburger-active span {
    -webkit-transition: .5s all;
    transition: .5s all;
    margin-top: -2px;
  }
  .hamburger-active span:first-child {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger-active span:nth-child(2) {
    display: none;
  }
  .hamburger-active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader__phone {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  .subheader__btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo__header {
    line-height: 45px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader__official {
    display: none;
  }
  .subheader__logo {
    margin-top: 16px;
  }
  .subheader__phone {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 11px;
  }
  .subheader__btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  .promo {
    min-height: 400px;
    padding-top: 93px;
    padding-bottom: 35px;
  }
  .promo__description {
    display: none;
  }
  .promo__header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo__subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo__btn button {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .menu {
    width: 40%;
  }
  .menu__item {
    text-align: center;
    width: 100%;
    padding: 5px;
  }
  .menu__link {
    display: block;
  }
  .reasons {
    padding: 22px 0 36px;
  }
  .reasons__block {
    margin-top: 26px;
  }
  .reasons__round {
    width: 100px;
    height: 100px;
  }
  .reasons__descr {
    width: 100%;
    margin-top: 27px;
  }
  .reasons__suabtitle {
    font-size: 16px;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
}
