
.subheader__phone {
    display: none;

}

.menu {
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    &__item {
        border-right: 2px dotted black;
        padding-right: 28px;
        
        &:last-child {
            border-right: none;
        }
        a {
            text-decoration: none;
            &:hover {
                color: $color-primary;
            }
        }
    }
    &__link {
        color: #ffff;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        
    }
}


.subheader {
    height: 84px;
    width: 100%;
    background-color:rgba(0,0,0, 0.6) ;
    position: absolute;
    &__logo {
        display: block;
        min-width: 100%;
        margin-top: 16px;
        
    }
    &__official {
        margin-top: 6px;
		opacity: 0.5;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
        
    }
    &__call {
        color: #ffffff;
		font-size: 12px;
		font-weight: 300;
		margin-top: 19px;
		text-align: right;
        
    }
    &__phone {
        display: block;
        text-align: right;
        font-size: 22px;
        font-weight: 400;
        margin-top: 8px;
        color:#ffffff;
        font-weight: 300;
        line-height: 15px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #999999;
        }
    }
    &__btn {
        @include btn;
        
    } 
}
.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url('../../assets/img/header/Backgrcar.png') center/cover no-repeat;

    &__header{
        color: #ffffff;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 60px; 
        margin: 0;
        text-align: center;
    }
    &__subheader {
        margin: 0;
        font-weight: 700;
        font-size: 36px;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 36px;
        
        text-align: center;
    }
    &__description {
        color:#ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 23px;
    }
    &__btn { 
        margin-top: 19px;
        display: block;
        border:none;
        border-radius:4px;
        background-image: linear-gradient(to top, #1eacc7 0%,#4ce2ff 100%);
        text-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
        width: 259px;
        height: 63px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 118px auto 0 auto ;
        &:hover {
            background-image: none;
            background-color: $color-primary;
            
        }
    }
}

.reasons {
    padding: 71px 0 65px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    &__descr {
        padding-left: 26px;
    }
    &__subtitle {
        line-height: 21px;
        color: $color-primary;
        font-size: 17px;
        font-weight: 400;
    }
    &__text {
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
    }
    
}

.reasons .reasons__block .reasons__descr .reasons__subtitle {
    line-height: 21px;
    color: $color-primary;
    font-size: 17px;
    font-weight: 400;
}

.label__choice{
    @include label__light;
}
.title__choice {
    margin-top: 32px;
    font-size: 37px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}
.content {
    min-height: 499px;
    padding-top: 57px;
    background-color: #000000;
    // position: relative;
    justify-content: center;
    flex-direction: column;
    
}
.subtitle__choice {
    margin-top: 19px;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
}
.choice__img img {
    position: absolute;
    top: 231px;
    left: 50%;
    transform: translateX(-50%);
}
.choice {
    position: relative;
    // z-index: 12;
}
.every__day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 397px;
    background-image: url('../../assets/img/bg.png');
    &-text {
        span {
            font-weight: 300;
            line-height: 24px;
            font-size: 17px;
            display: block;
            text-align: center;
            color: #222222;
        }
    } 
    
}

.terms {
    padding-top: 68px;
    padding-bottom: 84px;
}
.terms__title {
    color: $color-primary;
    font-size: 22px;
    margin-top: 33px;
}

.terms__list {
    list-style-type: none;
    padding-left: 50px;
    font-size: 17px;
    color: #222222;
    line-height: 24px;
    margin-top: 22px;
    & li {
        position: relative;
        margin-bottom: 10px;
        &:before {
            content:'';
            position: absolute;
            left: -32px;
            display: block;
            width: 21px;
            height: 20px;
            background: url('../../assets/icons/terms/terms-blue.png') center (center / cover) no-repeat;
        }
    }
}
.terms__subtitle {
    color: $color-primary;
    font-size: 22px;
}
.terms__title-red {
    color:red;
    margin: 62px 0 0 0;
    font-size: 22px;
}
.terms__list-red {
    list-style-type: none;
    padding-left: 50px;
    font-size: 17px;
    color: #222222;
    line-height: 24px;
    margin-top: 22px;
    & li {
        position: relative;
        margin-bottom: 10px;
        &:before {
            content:'';
            position: absolute;
            left: -32px;
            display: block;
            width: 21px;
            height: 20px;
            background: url('../../assets/icons/terms/terms-red.png') center (center / cover) no-repeat;
        }
    }
}

.world {
    height: 717px;
    background: url('../../assets/img/world/world.png') center (center / cover) no-repeat;
    &__title {
    @include h2;
    color: #fff;
    }
    &__subtitle {
        text-align: center;
        margin-top: 20px;
        font-size: 17px;
        color: #ffffff;
    }
    &__label {
        margin-top: 49px;
        @include label__light;
    }
    
}

.cities {
    text-align: center;
    margin-top: 400px;
    text-transform: uppercase;
    font-weight: 400;
    a {
        color: $color-primary;
        text-decoration: none;
        font-size: 15px;
        &:hover {
            color: #fff;
        }
    }
}

