// 
@media (max-width: 1199px) {
    .container {
        width: 992px;

    }
    .advantages {
        &__wrapper {
            gap: 2rem;
        }
    }
    .links {
        &__main {
            width: 300px;
        }
        &__sub {
            width: 370px;
            line-height: 35px;
        }
    }
    
    .world {
        height: 400px;
    }
    .cities {
        margin-top: 150px;
    }
    .promo {
        &__header {
            font-size: 50px;
        }
    }
    .menu {
        &__item {
            padding-right: 20px;
        }
        &__link {
            font-size: 13px;
        }
    }
    .xs-visible  {
        display: none;
    }
    
}
@media (max-width: 991px) {
    .container {
        width: 768px;
    }
    .terms {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .advantages {
        padding: 2rem 0 2rem 0;
        &__wrapper {
            gap: 3rem;
            grid-template-columns: repeat(2, 320px);
        }
    }
    .reasons {
        padding: 2rem 0 2rem 0;
        
    }
    .menu {
        display: none;
        &__item {
            padding-right: 8px;
        }
        &__link {
            font-size: 10px;
        }
    }
    .footer {
        &__container {
            margin-top: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__divider {
            width: 160px;
        }
        &__mobile {
            text-align: right;
            margin-top: 2rem;
            img {
                width:30%;
            }
        }
    }
    .links {
        &__main {
            margin-top: 2rem;
            width: 300px;
        }
        &__sub {
            width: 370px;
            line-height: 35px;
        }
    }
    .modal {
        width: 50%;
    }

}


@media (max-width: 991px) {
    .container {
        width: 768px;
    }
    
    .advantages {
        &__wrapper {
            gap: 3rem;
            grid-template-columns: repeat(2, 320px);
        }
    }
    
    .subheader {
        &__logo img {
            width: 100%;
        }
        &__official {
            font-size: 11px;
        }
        &__phone {
            font-size: 18px;
        }
        &__btn {
            width: 100%;
            height: 40px;
            margin-top: 20px;
        }
    }
    .promo {
        &__header {
            font-size: 40px;
        }
    }   &__subheader {
        font-size: 30px;
    }
    .reasons {
        &__block {

            flex-direction: column;
            align-items: center;
        }
        &__descr {
            margin-top: 20px;
            width: 300px;
        }
    }
    .terms {
        padding: 30px 0;
    }
    .advantages {
        padding-bottom: 30px;
    }
    .every__day {
        min-height: 300px;
    }
    .adv__block {
        & img {
            width: 100%;
        }
    }
    .choice__img {
        & img {
            width: 80%;
        }
    }
    .footer {
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__mobile {
            text-align: center;
        }
    }
    
    .social {
        margin: 0 auto;
    }
    .links {
        &__main {
            width: 300px;
        }
        &__sub {
            width: 370px;
            line-height: 35px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 567px;
    }
    .modal {
        width: 66%;
    }
    .advantages {
        &__wrapper {
            grid-template-columns: 320px;
        }
    }
    .menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0, .8);
        transition: .5s all;

        &-active {
            left: 0;
            transition: .5s all;
        }
        &__item {
            margin-bottom: 15px;
            padding-right: 0;
            border: none;
        }
        &__link {
            font-size: 20px;
            }
    }
    .links {
        &__main {
            width: 300px;
        }
        &__sub {
            width: 370px;
            line-height: 35px;
        }
    }
    .xs-hidden {
        display: none;
    }
    .xs-visible {
        display: block;
    }
    .terms {
        padding: 20px 0 20px 0;
        &__title {
            font-size: 17px;
            &-red {
                margin-top: 10px;
                font-size: 17px;
            }
        }
    }
    .subheader {
        &__phone {
            display: block;
            margin-top: 10px;
            font-weight: 400;
            text-align: center;
            color: #fff;
            font-size: 16px;
        }
        &__btn {
            display: block;
            width: 200px;
            height: 40px;
            margin: 0 auto;
            margin-top: 10px;
        }
    }
    .promo {
        &__header {
            line-height: 45px;
            font-size: 36px;
        }
        &__subheader {
            font-size: 29px;
        }
    }
    .choice {
        img {
            width: 100%;
        }
    }
  
    .adv__block {
        & img {
            width: 100%;
        }
    }
}
@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    nav {
        height: 30px;
    }
    .subheader {
        height: 60px;
        top: 30px;
        &__official {
            display: none;
        }
        &__logo {
            margin-top: 16px; 
        }
        &__phone {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            margin-top: 11px;

        }
        &__btn {
            width: 110px;
            height: 22px;
            font-size: 10px;
            margin-top: 6px;
        }
    }
    .promo {
        min-height: 400px;
        padding-top: 93px;
        padding-bottom: 35px;
        
        &__description {
            display: none;
        }
        &__header {
            font-size: 30px;
            padding: 0 24px;
            line-height: 35px;

        }
        &__subheader {
            font-size: 20px;
            margin-top: 33px;
            padding: 0 10px;
            line-height: 30px;
        }
        &__btn button {
            
            margin-top: 72px;

        }
    }
    .menu {
        width:40%;
        &__item {
            text-align: center;
            width: 100%;
            padding:5px;
        }
        &__link {
            display: block;
        }

    }
    .reasons {
        padding: 22px 0 36px; 
        &__block {
            margin-top: 26px;
        }
        &__round {
            width: 100px;
            height: 100px;
        }
        &__descr {
            width: 100%;
            margin-top: 27px ;
        }
        &__suabtitle {
            font-size: 16px;
        }
    }
    .title {
        font-size: 16px;
        margin-top: 15px;
        line-height: 16px;
        &__choice {
            margin-top: 10px;
            line-height: 30px;
            font-size: 27px;
            
        }
    }
    .choice__img img {
        width: 100%;
    }
    .adv__block {
        margin-top: 15px;
        img {
            width: 100%;
        }
    }
    .advantages {
        &__wrapper {
            gap: 1.5rem;
        }
        padding-bottom: 30px;
    }
    .content {
        padding-top: 20px;
    }
    .every__day {
        min-height: 120px;
    }
    .terms {
        padding: 20px 0 20px 0;
        &__title {
            font-size: 17px;
            &-red {
                margin-top: 10px;
                font-size: 17px;
            }
        }
        &__list {
            font-size: 15px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .world {
        height: 500px;
        &__container {
            width:100%;
            padding: 30px 0 30px 0;
        }
        &__title {
            font-size: 30px;
            margin-top: 25px;
        }
        &__subtitle {
            margin-top: 10px;
        }
    }
    .cities {
        margin-top: 270px;
        font-size: 15px;
        text-transform: uppercase;
    }

    .modal__menu li a {
        font-size: 21px;

    }
    .modal__menu { 
        padding: 20px;
        align-items: flex-start;
    }
    .footer {
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__mobile {
            text-align: center;
        }
    }
    
    .links {
        &__main {
            width: 300px;
        }
        &__sub {
            margin-top: 2rem;
            width: 100%;
            line-height: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        
        }
        
    }

}
